@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;

}

.logo {
    cursor: pointer;
}

.header-nav .nav {
    display: flex;
    gap: 0 20px;
    list-style: none;
    font-size: 15px;
    font-weight: 500;

}

.header-nav .nav li {
    cursor: pointer;
}

.scale:hover {
    transform: scale(1.1) !important;
    transition-duration: 0.3s !important;
}


.signup-Btn {
    display: flex;
    justify-content: center;
    gap: 0 3px;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.signup-Btn span {
    padding-bottom: 3px;
}


.hero {
    width: 100%;
    /* flex-direction: column; */
    text-align: center;

}

.hero-title {
    padding-top: 26px;
}


.hero h1 {
    font-size: 3.2em;
}

.hero-desc {
    width: 100%;
    display: flex;
    justify-content: center;
}


.hero-desc span {
    max-width: 26%;
    font-size: 13px;
    margin: 20px;
}


video {
    height: 100vh;
    width: 100% !important;
    object-fit: cover !important;
    display: flex;
}



.absolute {
    position: absolute;
    /* animation: SousToUp 1s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    opacity: 0; */
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.transform-translate-y-200px {
    transform: translateY(-200px);
}

.z-negative-one {
    z-index: -1;
}

.overflow-hidden {
    overflow: hidden;
}


@keyframes SousToUp {
    from {
        opacity: 0;
        /* width: 0; */
    }

    to {
        opacity: 100%;
        /* width: 100% */
    }
}


@keyframes clip {
    0% {
        clip-path: ellipse(100% 100% at 50% 50%);
    }

    100% {
        clip-path: ellipse(160% 160% at 50% 160%);
    }
}

.animation-clip-from-top-animation {
    animation-name: clip;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}